body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  text-align: center;
  padding: 40px;
}

h1 {
  color: white;
  font-size: 40px;
}

p {
  font-size: 20px;
  color: #eaf6ff;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #1a73e8;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  
  
  
  
  
  
  
}

a:hover {
  background-color: #0f5ad3;
}
img {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
}    
 ul {
  list-style-position: inside;
}
                                                                                      
